<html>
  <body>
    <%= @inner_content %>
  </body>
</html>


<style lang="css">
@import url('http://fonts.cdnfonts.com/css/poppins');

* {
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

h1 {
  color: gray;
  font-size: 18px;
  font-weight: 100;
}

p {
  color: black;
  font-size: 11px;
  font-weight: 600;
  text-align: justify;
}
</style>
